.view_account_screen {
  .display(absolute);
  .topLeft(0, 0);
  .bottomRight(0, 0);
  text-align: center;
  background-color: #3e4551;

  h1 {
    .display(relative);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 20px;
    font-weight: 200;
    padding: 50 px 0px 5px 0px;
    color: white;
  }

  .account_fields_wrapper {
    color: white;
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 50px 100px 50px 100px;
    background-color: #292e42;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 5px;
      font-size: 42px;
    }

    h3 {
      font-family: 'Oswald', sans-serif;
      float: left;
      color: gray;
    }

    h4 {
      text-align: center;
      margin: 20px;
    }
    
    p {
      margin: 0 0 0 115px;
    }
  }
}